<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mt-0">Hoạt động</h4>
                            <div class="widget-chart text-center">
                                <div id="morris-donut-activity" dir="ltr" style="height: 245px" class="morris-chart">
                                </div>
                                <ul class="list-inline chart-detail-list mb-0"
                                    style="display: flex;flex-direction: column;align-items: start;">
                                    <li class="list-inline-item">
                                        <h5 style="color: #ff8acc">
                                            <i class="fa fa-circle me-1"></i>Lượt tạo bài viết
                                        </h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #5b69bc">
                                            <i class="fa fa-circle me-1"></i>Lượt đăng ký khóa học
                                        </h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #35b8e0">
                                            <i class="fa fa-circle me-1"></i>Lượt tạo khóa học
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mt-0">Tài khoản</h4>

                            <div class="widget-chart text-center">
                                <div id="morris-donut-quantity" dir="ltr" style="height: 245px" class="morris-chart">
                                </div>
                                <ul class="list-inline chart-detail-list mb-0" style="
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                  ">
                                    <li class="list-inline-item">
                                        <h5 style="color: #ff8acc">
                                            <i class="fa fa-circle me-1"></i>Số lượng giáo viên
                                        </h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #5b69bc">
                                            <i class="fa fa-circle me-1"></i>Số lượng học viên
                                        </h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #35b8e0">
                                            <i class="fa fa-circle me-1"></i>Số lượng khóa học
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title mt-0">Sản phẩm</h4>

                            <div class="widget-chart text-center">
                                <div id="morris-donut-course" dir="ltr" style="height: 245px" class="morris-chart">
                                </div>
                                <ul class="list-inline chart-detail-list mb-0" style="
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                  ">
                                    <li class="list-inline-item">
                                        <h5 style="color: #ff8acc">
                                            <i class="fa fa-circle me-1"></i>Khóa học đang hoạt động
                                        </h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #5b69bc">
                                            <i class="fa fa-circle me-1"></i>Khóa học hoàn thành
                                        </h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #35b8e0">
                                            <i class="fa fa-circle me-1"></i>Khóa học chờ phê duyệt
                                        </h5>
                                    </li>
                                    <li class="list-inline-item">
                                        <h5 style="color: #ff1744">
                                            <i class="fa fa-circle me-1"></i>Khóa học đã từ chối
                                        </h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
</div>