<div class="content-page">
  <div class="content">
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!-- Customer List -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h5 class="card-title">Khách Hàng</h5>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <a href="/account/detail-user" class="text-decoration-none text-black">
                    <div class="row gap-3 justify-content-center">
                      <div class="col-md-5 mr-4">
                        <div class="row border rounded rounded-lg pt-3 pb-3 mb-3">
                          <div class="col-md-3">
                            <img src="/public/assets/images/users/user-4.jpg" alt="Product Image"
                              style="width: 100px; height: 100px; border-radius: 10px;">
                          </div>
                          <div class="col-md-9">
                            <h5 class="font-weight-bold">Ten: Nguyen Hoang Phi</h5>
                            <p class="font-weight-normal">Email: phihoang1705@gmail.com</p>
                            <p class="font-weight-normal">So dien thoai: 098924576</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5 mr-4">
                        <div class="row border rounded rounded-lg pt-3 pb-3 mb-3">
                          <div class="col-md-3">
                            <img src="/public/assets/images/users/user-9.jpg" alt="Product Image"
                              style="width: 100px; height: 100px; border-radius: 10px;">
                          </div>
                          <div class="col-md-9">
                            <h5 class="font-weight-bold">Ten: Nguyen Hoang Phi</h5>
                            <p class="font-weight-normal">Email: phihoang1705@gmail.com</p>
                            <p class="font-weight-normal">So dien thoai: 098924576</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  </div>
</div>
<!-- ./wrapper -->
</div>