<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Categories Tabs -->
                                <div class="card card-primary card-outline">
                                    <div class="card-header p-2">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"><a class="nav-link active" href="#all"
                                                    data-toggle="tab">Tất
                                                    cả</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#pending"
                                                    data-toggle="tab">Chờ xác
                                                    nhận</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#shipping"
                                                    data-toggle="tab">Đang
                                                    giao hàng</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#completed"
                                                    data-toggle="tab">Hoàn
                                                    thành</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#canceled"
                                                    data-toggle="tab">Đã
                                                    Hủy</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <!-- All Products -->
                                            <div class="active tab-pane pl-2 pr-2" id="all">
                                                <a href="" class="text-decoration-none text-black">
                                                    <div class="row border rounded rounded-lg pt-3 pb-3 mb-3">
                                                        <div class="col-md-1">
                                                            <img src="/public/assets/images/users/user-7.jpg"
                                                                alt="Product Image"
                                                                style="width: 100px; height: 100px; border-radius: 10px; margin-right: 15px;">
                                                        </div>
                                                        <div class="col-md-8 ml-4">
                                                            <h5 class="font-weight-bold">Sản phẩm 1</h5>
                                                            <p class="font-weight-normal text-warning">Chờ xác nhận</p>
                                                            <p class="font-weight-normal">x2</p>
                                                        </div>
                                                        <div class="col-lg-2 text-center">
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Gia ban: </span>
                                                                <span class="text-danger">$500</span>
                                                            </div>
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Thanh tien: </span>
                                                                <span class="text-danger">$1000</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                                <a href="" class="text-decoration-none text-black">
                                                    <div class="row border rounded rounded-lg pt-3 pb-3 mb-3">
                                                        <div class="col-md-1">
                                                            <img src="/public/assets/images/users/user-9.jpg"
                                                                alt="Product Image"
                                                                style="width: 100px; height: 100px; border-radius: 10px; margin-right: 15px;">
                                                        </div>
                                                        <div class="col-md-8 ml-4">
                                                            <h5 class="font-weight-bold">Sản phẩm 2</h5>
                                                            <p class="font-weight-normal text-success">Hoàn thành</p>
                                                            <p class="font-weight-normal">x3</p>
                                                        </div>
                                                        <div class="col-lg-2 text-center">
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Gia ban: </span>
                                                                <span class="text-danger">$500</span>
                                                            </div>
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Thanh tien: </span>
                                                                <span class="text-danger">$1500</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>

                                                <a href="" class="text-decoration-none text-black">
                                                    <div class="row border rounded rounded-lg pt-3 pb-3 mb-3">
                                                        <div class="col-md-1">
                                                            <img src="/public/assets/images/users/user-10.jpg"
                                                                alt="Product Image"
                                                                style="width: 100px; height: 100px; border-radius: 10px; margin-right: 15px;">
                                                        </div>
                                                        <div class="col-md-8 ml-4">
                                                            <h5 class="font-weight-bold">Sản phẩm 3</h5>
                                                            <p class="font-weight-normal text-danger">Đã hủy</p>
                                                            <p class="font-weight-normal">x1</p>
                                                        </div>
                                                        <div class="col-lg-2 text-center">
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Gia ban: </span>
                                                                <span class="text-danger">$500</span>
                                                            </div>
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Thanh tien: </span>
                                                                <span class="text-danger">$500</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!-- /.tab-pane -->

                                            <!-- Pending -->
                                            <div class="tab-pane pl-2 pr-2" id="pending">
                                                <a href="" class="text-decoration-none text-black">
                                                    <div class="row border rounded rounded-lg pt-3 pb-3 mb-3">
                                                        <div class="col-md-1">
                                                            <img src="/public/assets/images/users/user-7.jpg"
                                                                alt="Product Image"
                                                                style="width: 100px; height: 100px; border-radius: 10px; margin-right: 15px;">
                                                        </div>
                                                        <div class="col-md-8 ml-4">
                                                            <h5 class="font-weight-bold">Sản phẩm 1</h5>
                                                            <p class="font-weight-normal text-warning">Chờ xác nhận</p>
                                                            <p class="font-weight-normal">x2</p>
                                                        </div>
                                                        <div class="col-lg-2 text-center">
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Gia ban: </span>
                                                                <span class="text-danger">$500</span>
                                                            </div>
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Thanh tien: </span>
                                                                <span class="text-danger">$1000</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!-- /.tab-pane -->

                                            <!-- Shipping -->
                                            <div class="tab-pane pl-2 pr-2" id="shipping">
                                                <a href="" class="text-decoration-none text-black">
                                                    <div class="row border rounded rounded-lg pt-3 pb-3 mb-3">
                                                        <div class="col-md-1">
                                                            <img src="/public/assets/images/users/user-7.jpg"
                                                                alt="Product Image"
                                                                style="width: 100px; height: 100px; border-radius: 10px; margin-right: 15px;">
                                                        </div>
                                                        <div class="col-md-8 ml-4">
                                                            <h5 class="font-weight-bold">Sản phẩm 1</h5>
                                                            <p class="font-weight-normal text-primary">Đang giao hàng</p>
                                                            <p class="font-weight-normal">x2</p>
                                                        </div>
                                                        <div class="col-lg-2 text-center">
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Gia ban: </span>
                                                                <span class="text-danger">$500</span>
                                                            </div>
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Thanh tien: </span>
                                                                <span class="text-danger">$1000</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!-- /.tab-pane -->

                                            <!-- Completed -->
                                            <div class="tab-pane pl-2 pr-2" id="completed">
                                                <a href="" class="text-decoration-none text-black">
                                                    <div class="row border rounded rounded-lg pt-3 pb-3 mb-3">
                                                        <div class="col-md-1">
                                                            <img src="/public/assets/images/users/user-9.jpg"
                                                                alt="Product Image"
                                                                style="width: 100px; height: 100px; border-radius: 10px; margin-right: 15px;">
                                                        </div>
                                                        <div class="col-md-8 ml-4">
                                                            <h5 class="font-weight-bold">Sản phẩm 2</h5>
                                                            <p class="font-weight-normal text-success">Hoàn thành</p>
                                                            <p class="font-weight-normal">x3</p>
                                                        </div>
                                                        <div class="col-lg-2 text-center">
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Gia ban: </span>
                                                                <span class="text-danger">$500</span>
                                                            </div>
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Thanh tien: </span>
                                                                <span class="text-danger">$1500</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!-- /.tab-pane -->

                                            <!-- Canceled -->
                                            <div class="tab-pane pl-2 pr-2" id="canceled">
                                                <a href="" class="text-decoration-none text-black">
                                                    <div class="row border rounded rounded-lg pt-3 pb-3 mb-3">
                                                        <div class="col-md-1">
                                                            <img src="/public/assets/images/users/user-10.jpg"
                                                                alt="Product Image"
                                                                style="width: 100px; height: 100px; border-radius: 10px; margin-right: 15px;">
                                                        </div>
                                                        <div class="col-md-8 ml-4">
                                                            <h5 class="font-weight-bold">Sản phẩm 3</h5>
                                                            <p class="font-weight-normal text-danger">Đã hủy</p>
                                                            <p class="font-weight-normal">x1</p>
                                                        </div>
                                                        <div class="col-lg-2 text-center">
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Gia ban: </span>
                                                                <span class="text-danger">$500</span>
                                                            </div>
                                                            <div class="pb-2 font-italic mt-3">
                                                                <span class="card-title">Thanh tien: </span>
                                                                <span class="text-danger">$500</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <!-- /.tab-pane -->
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>
                    </div>
                </section> 
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- ./wrapper -->
    </div>

</div>