<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-body-action-course">
                                            <h5 class="card-title">Danh Sách Đơn Hàng</h5>
                                            <div class="dropdown float-end">
                                                <div class="dropdown">
                                                    <button class="btn btn-info dropdown-toggle" type="button"
                                                        id="dropdownCategoryButton" data-bs-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true">
                                                        Trạng thái
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownCategoryButton"
                                                        data-popper-placement="bottom-start"
                                                        style=" position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);">
                                                        <a class="dropdown-item" href="#">Tất cả</a>
                                                        <a class="dropdown-item" href="#">Chờ xác nhận</a>
                                                        <a class="dropdown-item" href="#">Chờ giao hàng</a>
                                                        <a class="dropdown-item" href="#">Đã giao</a>
                                                        <a class="dropdown-item" href="#">Hoàn thành</a>
                                                        <a class="dropdown-item" href="#">Đã hủy</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Mã Đơn Hàng</th>
                                                    <th>Ngày Mua</th>
                                                    <th>Phương Thức Thanh Toán</th>
                                                    <th>Trạng Thái</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td><a href="/order/detail-order" class="order-link">DH001</a></td>
                                                    <td>01/01/2023</td>
                                                    <td>Thanh toán khi nhận hàng</td>
                                                    <td>Đang Giao</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td><a href="/order/detail-order" class="order-link">DH002</a></td>
                                                    <td>02/01/2023</td>
                                                    <td>Chuyển khoản</td>
                                                    <td>Hoàn Thành</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td><a href="/order/detail-order" class="order-link">DH003</a></td>
                                                    <td>03/01/2023</td>
                                                    <td>Thanh toán khi nhận hàng</td>
                                                    <td>Hủy</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td><a href="/order/detail-order" class="order-link">DH004</a></td>
                                                    <td>04/01/2023</td>
                                                    <td>Thanh toán khi nhận hàng</td>
                                                    <td>Đã Đặt Hàng</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
</div>

</div>