<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-body-action-course">
                                            <h5 class="card-title">Danh Sách Đơn Hàng</h5>
                                            <div class="dropdown float-end">
                                                <div class="dropdown">
                                                    <button class="btn btn-info dropdown-toggle" type="button"
                                                        id="dropdownCategoryButton" data-bs-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="true">
                                                        Trạng thái
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownCategoryButton"
                                                        data-popper-placement="bottom-start"
                                                        style=" position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);">
                                                        <a class="dropdown-item" data-status>Tất cả</a>
                                                        <a class="dropdown-item" data-status="PENDING">Chờ xác nhận</a>
                                                        <a class="dropdown-item" data-status="SHIPPING">Chờ giao hàng</a>
                                                        <a class="dropdown-item" data-status="DELIVERED">Đã giao</a>
                                                        <a class="dropdown-item" data-status="CANCELLED">Đã hủy</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Mã Đơn Hàng</th>
                                                    <th>Ngày Mua</th>
                                                    <th>Phương Thức Thanh Toán</th>
                                                    <th>Trạng Thái</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% let index=1; %>
                                                    <% listOrderData.forEach((row)=> { %>
                                                        <tr>
                                                            <td>
                                                                <%= index %>
                                                            </td>
                                                            <td><a href="/order/detail-order/<%= row._id %>" class="order-link">
                                                                    <%= row.code %>
                                                                </a></td>
                                                            <td>
                                                                <% const formatDate=(dateString)=> {
                                                                    const date = new Date(dateString);
                                                                    const day = date.getDate();
                                                                    const month = date.getMonth() + 1;
                                                                    const year = date.getFullYear();
                                                                    return `${day}/${month}/${year}`;
                                                                    };
                                                                    %>
                                                                <%= formatDate(row.orderDate) %>
                                                            </td>
                                                            <td>
                                                                <% if (row.paymentMethod == 'VNPAY') { %>
                                                                    Thanh toán qua VNPAY
                                                                    <% } else { %>
                                                                        Thanh toán khi nhận hàng
                                                                        <% } %>
                                                            </td>
                                                            <td>
                                                                <% if (row.status == 'DELIVERED') { %>
                                                                    Đã giao hàng
                                                                <% } else if (row.status == 'SHIPPING'){ %>
                                                                    Chờ giao hàng
                                                                <% } else if (row.status == 'CANCELLED'){ %>   
                                                                    Đã Hủy
                                                                <% }else { %>
                                                                    Chờ xác nhận
                                                                 <% } %>
                                                                
                                                            </td>
                                                        </tr>
                                                        <% index++; %>
                                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
</div>

</div>

<script>
    const baseURL = window.location.protocol + '//' + window.location.host;
    const dropdownMenu = document.querySelector(".dropdown-menu");
    dropdownMenu.querySelectorAll("a").forEach((item) => {
        item.addEventListener("click", (event) => {
            event.preventDefault();
            const status = item.getAttribute("data-status");
            window.location.href = `${baseURL}/order/list-order?status=${status}`;
        });
    });
</script>