<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Main content -->
                <div id="loading" class="loading-container">
                    <div class="loading-spinner">
                        <i class="fas fa-spinner fa-spin"></i>
                    </div>
                </div>

                <div id="dialog" class="dialog-container">
                    <div class="dialog-content">
                        <span id="dialog-message"></span>
                        <button onclick="hideDialog()">Ok</button>
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h5 class="card-title">Thêm sản phẩm</h5>
                                    </div>
                                    <!-- /.card-header -->
                                    <!-- form start -->
                                    <form id="uploadForm">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="brandId">Thương hiệu</label>
                                                <select class="form-control" id="brandId" name="brandId">
                                                    <option value="">-- Chọn --</option>
                                                    <% listBrandData.forEach((row)=> { %>
                                                        <option value="<%= row._id %>">
                                                            <%= row.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>

                                            </div>
                                            <div class="form-group">
                                                <label for="name">Tên sản phẩm</label>
                                                <input type="text" class="form-control" id="name" name="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="photoUrls">Hình ảnh</label>
                                                <input type="file" class="form-control" id="photoUrls" multiple
                                                    name="files" accept="image/*">
                                                <div class="image-preview" id="imagePreview"></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="description">Mô tả</label>
                                                <textarea class="form-control" id="description" rows="3"
                                                    name="description"></textarea>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label for="price">Giá</label>
                                                    <input type="number" class="form-control" id="price" name="price">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="quantity">Số lượng</label>
                                                    <input type="number" class="form-control" id="quantity"
                                                        name="quantity">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="size">Kích thước</label>
                                                    <input type="number" class="form-control" id="size" name="size">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="machineCategory">Loại máy</label>
                                                    <select class="form-control" id="machineCategory"
                                                        name="machineCategory">
                                                        <option value="">-- Chọn --</option>
                                                        <option value="AUTOMATIC_MECHANICAL">Cơ tự động
                                                        </option>
                                                        <option value="BATTERY">Pin</option>
                                                        <option value="LIGHT_ENERGY">Năng lượng mặt trời</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="wireCategory">Loại dây</label>
                                                    <select class="form-control" id="wireCategory" name="">
                                                        <option value="">-- Chọn --</option>
                                                        <option value="METAL">Kim loại</option>
                                                        <option value="SKIN">Da</option>
                                                        <option value="PLASTIC">Nhựa </option>
                                                        <option value="FABRIC">Vải</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="mr-4 mb-4 float-right">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </div>
        <!-- ./wrapper -->
    </div>
</div>
<script>
    document.getElementById('photoUrls').addEventListener('change', function () {
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.innerHTML = '';
        Array.from(this.files).forEach(file => {
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                imagePreview.appendChild(img);
            }
            reader.readAsDataURL(file);
        });
    });
</script>

<script>
    const baseURL = window.location.protocol + '//' + window.location.host;
    var isSuccess = false;
    const form = document.getElementById('uploadForm');
    form.addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData();

        const brandID = document.getElementById('brandId').value;
        console.log(`[web] addProducts: brandID -> ${brandID}`);
        formData.append('brandId', brandID);

        const productName = document.getElementById("name").value;
        formData.append('name', productName)

        const productDescription = document.getElementById("description").value;
        formData.append('description', productDescription)

        const fileProductImage = document.getElementById('photoUrls');
        const fileMedias = fileProductImage.files;
        for (let i = 0; i < fileMedias.length; i++) {
            console.log(`[web] addProducts: fileMedias -> ${fileMedias[i]}`);
            formData.append('photoUrls', fileMedias[i]);
        }

        const productPrice = document.getElementById("price").value;
        formData.append('price', productPrice);

        const productQuantity = document.getElementById("quantity").value;
        formData.append('quantity', productQuantity);

        const productSize = document.getElementById("size").value;
        formData.append('size', productSize);

        const productMachineCategory = document.getElementById('machineCategory').value;
        console.log(`[web] addProducts: machineCategory -> ${productMachineCategory}`);
        formData.append('machineCategory', productMachineCategory);

        const productWireCategory = document.getElementById('wireCategory').value;
        console.log(`[web] addProducts: wireCategory -> ${productWireCategory}`);
        formData.append('wireCategory', productWireCategory);

        console.log(`[web] addProducts: formData -> ${JSON.stringify(formData)}`);
        showLoading();
        fetch(`${baseURL}/product/post-product`, {
            method: "POST",
            body: formData,
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then((body) => {
                isSuccess = true;
                hideLoading();
                showDialog(body.message);
                setTimeout(() => {
                    window.location.href = baseURL + '/product/list-products?type=NEW';
                }, 2000);
            })
            .catch((error) => {
                isSuccess = false;
                hideLoading();
                showDialog("Lỗi: " + error.message);
                console.error("Error:", error);
            });
    });

    function showLoading() {
        document.getElementById("loading").style.display = "block";
    }

    function hideLoading() {
        document.getElementById("loading").style.display = "none";
    }

    function showDialog(message) {
        document.getElementById("dialog-message").textContent = message;
        document.getElementById("dialog").style.display = "block";
    }

    function hideDialog() {
        document.getElementById("dialog").style.display = "none";
        if (isSuccess) {
            form.reset();
            isSuccess = false;
        }
    }

</script>